<% if current_user %>

  <body class="form">
    <legend class="form">Add New Inventory </legend>



    <%= form_tag "/inventories", method: :post do %>
    <div> 
      <b>Name </b> <input type="text" class="form-control" name="name" placeholder="Text input">
    </div>

    <div class="form-group">
      <div clas="col-sm-2">
        <b> Description</b><input type="ext", rows: 10, class="form-control" name="description" placeholder="text input">
      </div>
    </div>
    <div> 
      <b> Starting Date </b> <input  class="form-control" type="date" name="start" placeholder="Date input">
    </div>

    <div> 
      <b> Finish Date </b> <input class="form-control" type="date" name="finish" placeholder="Date input">
    </div>
    <div>
      <br>

    </div>

    <input class="fill" type="submit" value="Add inventory">

    <% end %>

  <% else %>
   <h2 style="color:#1E8449;" class="center row"> Please <%= link_to "Login", "/login" %> or <%= link_to "Sin Up", "/signup" %> </h2>


<% end -%>