<div class="border row">
  <div class="border col-sm-6">
     <h3>About the Developer</h3> 
     
<p> Obed is a Technology Lead Course Facilitator at Kepler. He joined Kepler in 2014 and since then he teaches technology skills to foundational year students and technology modules to second and third-year students. Obed started teaching as a technology Course Facilitator in the first year at Kepler, in 2015, he became a Lead Course Facilitator during then he leads the team that revised Kepler technology curriculum. From 2016 till now, Obed is leading the team that is creating how to teach technology skills online. Currently, they are drafting online Microsoft Office materials.</p>

<p> 
Obed has studied sciences in high school and has a bachelor's degree in Biology-Education from University of Rwanda, College of Education. He started his computerised career in 2011 where he trained himself to edit images using Photoshop software. In 2012, he was trained by Anjich David to become a Graphic Designer for a period of 6 months. In August 2012, Obed became a graphic designer at Impact Africa Ltd. He left the company 2014 and started teaching technology skills at Kepler. 
</p>

<p> Currently, Obed is interested in coding. He is attending Actualize Bootcamp whereby he is learning web development. Obed's hope is to become a web engineer for his country Rwanda, and for Africa in general. </p>
     
  </div>
  <div class="border col-sm-6"><%= image_tag ("imageb.jpg"), :class => "obedb" %> </div>
</div>