

.home{
   text-decoration: #1E8449;
}

.blog{
  background-color: #F7F9F9;
}

$navbar-default-bg: #F5DEB3;

#logo{
  float: left;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -px;
  font-weight: bold;
}
.center{
  text-align: center;
}

.jumbotron{
  background-size: cover;
  height: 550px;
}


body {
  background-color: #17202A;
  /*background-image: asset-url("backgroundImage.jpg");*/
  
}

.form{
  color :#FDFEFE;
}
.fill{
  color :#17202A;

}
.form-control{
  max-width: 530px;
  color :#17202A;
}

.test{
  font-size: 2.5em;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}



.inventory-actions{
  border-top: 1px solid #17202A;
  padding-top: 5px;

}
.description{
  margin-top: 0;
}

.inventories-title{
  font-weight: bold;
  font-size: 1.5em;
}

.inventory-body{
  border-top: 1px solid #17202A;
  padding-top: 15px;
}

.bar{
  border-top: 1px solid #17202A;
}




.tag {
    width: 200px;
    height: 275px;
    padding: 10px !important;
   margin: 10px !important;
   


}

.obed {
    width: 600px;
    height: 413px;
  padding: 25px !important;
   margin: 5px !important;
}

.obedb {
    width: 400px;
    height: 550px;
  padding: 25px !important;
   margin: 5px !important;
}


/*Login Page*/


h1 {
    color: #FDFEFE;
    text-indent: 25px;
}
h3 {
    color: #FDFEFE;
    text-indent: 25px;
}

p {
    color: #FDFEFE;
    text-indent: 1.5;
    margin-top: 0
}


